<!DOCTYPE html>
<html>

<header>
  <meta http-equiv="Cache-control" content="no-cache">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{url_for('static', filename='js/functions.js')}}"></script>
  <div id="index-bar">
    <div>
      <a href="https://www.linkedin.com/in/kyle-koshiyama-8029bb108/" target="_blank">Linkedin</a>
    </div>
    <div>
      <a href="{{ url_for('static', filename='images/Resume 2021.pdf') }}" target="_blank" download>Download Resume</a>
    </div>
    <div>
      <a href="/blog">Economic Blog</a>
    </div>
  </div>

  <div id="name">
    <h1>Kyle Koshiyama</h1>
    <img src="{{url_for('static', filename='images/headshot.png')}}" alt="">
  </div>
</header>

<body>

  <div id="education">
    <h1 id="title">Education</h1>
    <p id="title-bar"></p>
    <div>
      <ul id='education-list'>

        <li>
          <img id='education-pic' src="{{url_for('static', filename='images/lsa.png')}}" alt="">
          <div>
            <h2>University of Michigan Literature Science & Art</h2>
          </div>
        </li>

        <br>
        <li>
          <img id='education-pic' src="{{url_for('static', filename='images/lsa.png')}}" alt="">
          <div>
            <h2>University of Michigan Ross School of Bussiness</h2>
          </div>
        </li>
        <br>
        <li>
          <img id='education-pic' src="{{url_for('static', filename='images/lsa.png')}}" alt="">
          <div>
            <h2>App Academy - San Francsico</h2>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h1 id=title>Experince</h1>
        <p id="title-bar"></p>
  </div>

  <div id="projects">
    <h1 id="title">Projects</h1>
    <p id="title-bar"></p>
    <div>
      <ul></ul>
      <li>
        <a href="https://github.com/ethereumbook/ethereumbook/blob/develop/07smart-contracts-solidity.asciidoc"><img
            src="{{ url_for('static', filename='images/K.png') }}" alt="HTML tutorial"></a>
      </li>

    </div>
  </div>


</body>

</html>