<!DOCTYPE html>
<html>

<header>
  <link rel="stylesheet" href="style.css">
  <script src="functions.js"></script>
  <h1>Kyle Koshiyama</h1>
  <div>
    <a href="images/Resume 2021.pdf" target="_blank" download>Download Resume</a>
    <a href="blog.html">Economic Blog</a>
  </div>
</header>

<body>


  <div id="education">
    <h1 id="title">Education</h1>
    <p id="title-bar"></p>
    <div>
      <ul>
        <li>University of Michigan</li>
        <li>University of Michigan Ross School of Bussiness</li>
        <li>App Academy</li>
      </ul>
    </div>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Dropdown</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>

  <div id="projects">
    <h1 id="title">Projects</h1>
    <p id="title-bar"></p>
    <div>
      <ul></ul>
      <li>
        <a href="https://github.com/ethereumbook/ethereumbook/blob/develop/07smart-contracts-solidity.asciidoc"><img
            src="images/K.png" alt="HTML tutorial"></a>
      </li>

    </div>
  </div>


</body>

</html>